.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.image {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.line {
  width: 11rem;
}

.welcome {
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  height: 40px;
}

.heading {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.forgotPasswordContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  height: 22px;
  margin: 5px 0;
}

.socialLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.loginWithSocialsLabel {
  margin: 10px;
}
.loginWithSocialsLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.heading {
  margin: 20px 0;
}

.button {
  margin: 1rem 0;
  background: orange;
  text-transform: none;
  font-weight: 600;
  width: 174px;
  height: 40px;
  border: none;
  color: white;
  border-radius: 6px;
}

.button:hover {
  background: #ff9400;
  cursor: pointer;
}

.emailContainer {
  width: 560px;
  height: 70px;
}
.passwordContainer {
  width: 560px !important;
  height: 70px;
  margin-top: 25px;
}

.termsContainer {
  width: 60%;
  height: 70px;
  margin-top: 25px;
}

.confirmPasswordContainer {
  width: 560px !important;
  height: 70px;
  margin-top: 15px;
}

.accountTypeContainer {
  width: 560px;
  height: 70px;
  margin-top: 20px;
}

.emailLabel {
  width: 42px;
  height: 22px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

.passwordLabel {
  width: 120px;
  height: 22px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

.googleIcon {
  margin: 0 10px;
}
.createAccount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 150px;
}

.createAccountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.create {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.nameLabel {
  width: 81px;
  height: 22px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

.accountTypeContainer {
  width: 560px;
  height: 70px;
}
.accountType {
  width: 101px;
  height: 22px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

.firstNameContainer {
  width: 48%;
}
.lastName {
  width: 100%;
}
.firstName {
  width: 100%;
}

.accountTypeField {
  height: 40px;
}

@media (max-width: 575.98px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .passwordContainer {
    width: 100% !important;
    height: 70px;
    margin-top: 25px;
  }

  .accountTypeContainer {
    width: 100%;
    height: 70px;
    margin-top: 20px;
  }

  .termsContainer {
    width: 100% !important;
  }

  .confirmPasswordContainer {
    width: 100% !important;
    height: 70px;
    margin-top: 20px;
  }

  .accountTypeContainer {
    width: 100%;
    height: 70px;
    margin-top: 20px;
  }
  .login {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 0;
    margin-bottom: 3rem;
    margin-left: 0;
  }
  .formElements {
    width: 100%;
    margin: 0 auto;
  }
  .emailContainer {
    width: 100%;
    margin-top: -20px;
  }

  .nameContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }
  .firstNameContainer {
    width: 100%;
  }
  .firstNameContainer {
    margin-bottom: 25px;
  }
  .firstName {
    width: 100%;
  }
  .lastName {
    width: 100%;
    margin-bottom: -20px;
  }
  .loginWithSocials {
    width: 100%;
  }
  .button {
    width: 100%;
  }
  .createAccountContainer {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
  }
  .createAccount {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  .line {
    flex: 1;
    color: gray;
  }
  .accountTypeField {
    height: 40px;
  }
}
